<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <span class="navbar-brand">
        <img src="assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="Beer">
        Beer
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/">Início <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="/perfil"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/perfil">Perfil</a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="/promocao"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/promocao">Promoções</a>
            </li>
        </ul>
        <ng-container *ngIf="(total() | async) > 0; else sacolaVazia">
            <a routerLink="/sacola" class="btn btn-link text-left navbar-text sacola" style="margin-right: 30px;">
                <div class="text-title">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    Sacola
                </div>

                <div class="text-address">
                    <ng-container [ngPlural]="total() | async">
                        <ng-template ngPluralCase="=0">Nenhum item na sacola</ng-template>
                        <ng-template ngPluralCase="=1">Um item na sacola</ng-template>
                        <ng-template ngPluralCase="other">{{ total() | async }} itens na sacola</ng-template>
                    </ng-container>
                </div>
            </a>
        </ng-container>

        <ng-template #sacolaVazia>
            <a tooltip="Você não tem itens na sacola" class="btn btn-link text-left navbar-text sacola"
                style="margin-right: 30px;">
                <div class="text-title">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    Sacola
                </div>

                <div class="text-address">
                    <ng-container [ngPlural]="total() | async">
                        <ng-template ngPluralCase="=0">Nenhum item na sacola</ng-template>
                        <ng-template ngPluralCase="=1">Um item na sacola</ng-template>
                        <ng-template ngPluralCase="other">{{ total() | async }} itens na sacola</ng-template>
                    </ng-container>
                </div>
            </a>
        </ng-template>
        <div class="navbar-text">
            <ng-container *ngIf="getAuth === undefined || getAuth === null; else showUsername">
                <button type="button" class="btn btn-link text-title d-inline-block align-top p-0" style="margin: 0 5px 0 0;"
                    routerLink="/cadastro/usuario">Cadastre-se</button><span class=" d-inline-block align-top">ou</span>
                <button type="button" class="btn btn-link text-title d-inline-block align-top w-100 p-0 m-0"
                    routerLink="/login" style="text-align: left;">Logue</button>
            </ng-container>

            <ng-template #showUsername>
                <div class="d-block overflow-hidden">
                    <span class="text" style="margin-right: 5px;">Olá,</span>
                    <span class="text username">{{ getAuth.usuario }}</span>
                    <button type="button" class="btn btn-link" (click)="logout()">Sair</button>
                </div>
            </ng-template>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>