<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="#">Beer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Promoções</a>
            </li>
        </ul>
        <div class="navbar-text sacola" style="margin-right: 30px;" (click)="visualizar_sacola()">
            <div class="text-title">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                Sacola
            </div>

            <div class="text-address">
                <ng-container [ngPlural]="total() | async">
                    <ng-template ngPluralCase="=0">Nenhum item na sacola</ng-template>
                    <ng-template ngPluralCase="=1">Um item na sacola</ng-template>
                    <ng-template ngPluralCase="other">{{ total() | async }} itens na sacola</ng-template>
                </ng-container>
            </div>
        </div>
        <div class="navbar-text">
            <div class="text-title uppercase">Entregar em</div>
            <div class="text-address">
                <i class="fa fa-home"></i>
                <span class="address">Rua Nuporanga, 147</span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>