<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Beer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/">Início <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="/perfil"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/perfil">Perfil</a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="/promocoes"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/promocoes">Promoções</a>
            </li>
        </ul>
        <ng-container *ngIf="(total() | async) > 0; else sacolaVazia">
            <a routerLink="/sacola" class="btn btn-link text-left navbar-text sacola" style="margin-right: 30px;">
                <div class="text-title">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    Sacola
                </div>

                <div class="text-address">
                    <ng-container [ngPlural]="total() | async">
                        <ng-template ngPluralCase="=0">Nenhum item na sacola</ng-template>
                        <ng-template ngPluralCase="=1">Um item na sacola</ng-template>
                        <ng-template ngPluralCase="other">{{ total() | async }} itens na sacola</ng-template>
                    </ng-container>
                </div>
            </a>
        </ng-container>

        <ng-template #sacolaVazia>
            <a tooltip="Você não tem itens na sacola" class="btn btn-link text-left navbar-text sacola"
                style="margin-right: 30px;">
                <div class="text-title">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    Sacola
                </div>

                <div class="text-address">
                    <ng-container [ngPlural]="total() | async">
                        <ng-template ngPluralCase="=0">Nenhum item na sacola</ng-template>
                        <ng-template ngPluralCase="=1">Um item na sacola</ng-template>
                        <ng-template ngPluralCase="other">{{ total() | async }} itens na sacola</ng-template>
                    </ng-container>
                </div>
            </a>
        </ng-template>
        <div class="navbar-text">
            <button type="button" class="btn btn-link text-title" routerLink="/usuario/cadastro">Cadastre-se</button>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>