.navbar {
    background-color: rgba(0, 0, 0, 0.4);

    .navbar-text {
        .text-title,
        .text-address {
            color: rgba($color: white, $alpha: 0.7);
        }

        .text-address {
            .address {
                margin: 0 5px;
            }

            .address,
            .fa-home {
                color: white;
            }
        }

        .overflow-hidden {
            .text {
                display: inline-block;
                vertical-align: top;
            }

            .username {
                max-width: 130px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .btn-link {
                display: block;
                width: 100%;
                text-align: right;
                padding: 0;
                color: white;
            }
        }
    }
}

.btn-link {
    &,
    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
    }
}

.sacola {
    cursor: pointer;

    .text-title,
    .text-address {
        padding: 0 5px;
    }

    &:hover {
        outline: 1px solid rgba($color: #fff, $alpha: 0.3);
    }
}