.navbar {

    .navbar-text {
        .text-title {
            color: rgba($color: white, $alpha: 0.7);
        }

        .text-address {
            .address {
                margin: 0 5px;
            }

            .address,
            .fa-home {
                color: white;
            }
        }
    }
}

.sacola {
    cursor: pointer;

    .text-title,
    .text-address {
        padding: 0 5px;
    }

    &:hover {
        outline: 1px solid rgba($color: #fff, $alpha: 0.3);
    }
}