<div class="row header">
    <div class="col-9">
        <div class="endereco center">
            <div class="vertical-center">
                <div class="lbl_entregar uppercase lite">Entregar em</div>
                <div class="spn_endereco bold">Rua Nuporanga, 147</div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="center position-right">
            <ng-container *ngIf="isLogged; else notLogged">
                <div class="vertical-center">
                    <img [src]="getAuth.image" class="img" (click)="logout()">
                </div>
            </ng-container>

            <ng-template #notLogged>
                <div class="vertical-center">
                    <a routerLink="/login" class="logar">
                        <i class="fa fa-user"></i>
                        Logar
                    </a>
                </div>
            </ng-template>
        </div>
    </div>
</div>