<div class="full-container">
  <div class="d-flex h-100 align-items-center">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <form class="col-10 col-sm-8" (submit)="enviarDados()" autocomplete="off">
          <div class="form-group">
            <label for="email-input">E-mail</label>
            <input type="email" [(ngModel)]="login.email" class="form-control" id="email-input" name="email-input"
              aria-describedby="emailHelp" placeholder="Digite seu e-mail" autocomplete="false">
            <small id="emailHelp" class="form-text text-muted">Nós não compartilhamos seu e-mail com ninguém</small>
          </div>

          <div class="form-group">
            <label for="senha-input">Senha</label>
            <input type="password" [(ngModel)]="login.senha" class="form-control" id="senha-input" name="senha-input"
              placeholder="Senha" autocomplete="false">
          </div>

          <div class="d-block">
            <button type="submit" class="btn btn-primary" [disabled]="spinner" style="margin-right: 10px;">
              <i class="fa fa-spinner fa-pulse" *ngIf="spinner"></i>
              Logar no sistema
            </button>
            <div class="pull-right">
              <button type="button" class="btn btn-warning" routerLink="/usuario/cadastro">Cadastre-se</button>
            </div>
          </div>
          <div *ngIf="message" class="text-danger">{{ message }}</div>
        </form>
      </div>
    </div>
  </div>
</div>