
.card {
    position: relative;
    margin: 15px;

    .card-img-top {
        height: 200px;
        width: 100%;
        object-fit: contain;
    }
}

.old-price {
    text-decoration: line-through;
    color: #e0e0e0;
}