<div class="row justify-content-center">
    <div class="card col-12 col-sm-3" *ngFor="let produto of produtos">
        <img class="card-img-top" [src]="produto.foto" [alt]="produto.nome + ': R$' + produto.preco ">
        <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">
                {{ produto.descricao }} - Valor <strong>{{ produto.preco | currency: 'BRL' }}</strong>
            </p>
            <button class="btn btn-primary" (click)="comprar(produto.id)">Comprar</button>
        </div>
    </div>
</div>