<ng-container *ngIf="produto">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adicionar a sacola</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ produto.nome }} - {{ produto.preco | currency: 'BRL' }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="adicionar()">Adicionar</button>
    </div>
</ng-container>