/* You can add global styles to this file, and also import other style files */
.uppercase {
    text-transform: uppercase;
}

.strong {
    font-weight: bold;
}

.lite {
    font-weight: 300;
}

.container {
    margin-top: 30px;
}

body {
    &.bg-image {
        background-image: url('/assets/img/fundo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        background-attachment: fixed;
    }
}