/* You can add global styles to this file, and also import other style files */
.uppercase {
    text-transform: uppercase;
}

.strong {
    font-weight: bold;
}

.lite {
    font-weight: 300;
}

.container {
    margin-top: 30px;
}