/* You can add global styles to this file, and also import other style files */
.uppercase {
    text-transform: uppercase;
}

.strong {
    font-weight: bold;
}

.lite {
    font-weight: 300;
}

.container {
    margin-top: 30px;
}

body {
    &.bg-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        background-attachment: fixed;

        &.fundo_01 {
            background-image: url('/assets/img/fundo_01.jpg');
        }
        
        &.fundo_02 {
            background-image: url('/assets/img/fundo_02.jpg');
        }

        &.fundo_03 {
            background-image: url('/assets/img/fundo_03.jpg');
        }
    }
}